*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
  }
  body{
    font-family: montserrat;
  }
  nav{
    background: #0082e6;
    height: 80px;
    width: 100%;
  }
  label.logo{
    color: white;
    font-size: 40px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
  }
  nav ul{
    float: right;
    margin-right: 20px;
  }
  nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
  }
  nav ul li a{
    color: white;
    font-size: 25px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
  }
  /* nav ul li a.active,a:hover{
    background: #1b9bff;
    transition: .5s;
  } */
  .checkbtn{
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
  }
  #check{
    display: none;
  }
  @media (max-width: 952px){
    label.logo{
      font-size: 30px;
      padding-left: 50px;
    }
    nav ul li a{
      font-size: 16px;
    }
  }
  @media (max-width: 858px){
    .checkbtn{
      display: none;
    }
    ul{
      position: fixed;
      width: 100%;
      height: 100vh;
      background: #2c3e50;
      top: 125px;
      left: -100%;
      text-align: center;
      transition: all .5s;

    }
    nav ul li{
      display: block;
      margin: 50px 0;
      line-height: 30px;
    }
    nav ul li a{
      font-size: 20px;
    }
    /* a:hover,a.active{
      background: none;
      color: #0082e6;
    } */
    #check:checked ~ ul{
      left: 0; 
    }

  }


.header {
    background: black;
    padding: 5px 0;
    text-align: center;
    
}

.contact-info{
    font-size: 30px;
    color: #333;
}

.contact-info a{
  color: white;
  font-size: 25px;
}
.contact-info p {
    margin: 5px;
    color: white;
}

.contact-info i {
    margin-right: 5px;
}

@media (max-width: 768px) {
    .contact-info {
        font-size: 25px;
    }
}



.centered-section {
  text-align: center;
  padding: 40px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../images/foto1.jpg);
  background-size: cover; /* Adjust the background size */
  background-position: center center; 

}

.centered-element {
  margin: 10px;
  padding: 10px;
  display: inline-block;
  max-width: 300px; 
  text-align: left;
  background-color: white;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.centered-element h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.centered-element p {
  font-size: 22px;
  color: #555;
}

@media (max-width: 768px) {
  .centered-element {
      max-width: 599px;
  }
}


.image-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
  padding: 40px;
}

.image-link {
  flex: 0 0 calc(25% - 20px); /* 4 images in a row with 20px gap */
  position: relative;
  overflow: hidden;
  text-decoration: none;
}

.image-container {
  position: relative;
  overflow: hidden;
  transition: filter 0.3s ease;
  background-color: #fff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 10px;
  height: 100%;
}
.image-container .image-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: black;
  font-size: 70px;
  text-align: center;
  padding: 10px;
  color: white;
}

.image-container img {
  max-width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
  filter: brightness(50%);
}

.image-link:hover .image-container {
  filter: brightness(90%); 
}

@media (max-width: 768px) {
  .image-link {
      flex: 0 0 calc(100% - 10px); /* Full width with 20px gap */
  }
  .image-container .image-text {
    font-size: 50px;
  }

}


.phone {
  color: white; /* Change to your desired color */
  font-weight: bold;
  text-decoration: none; /* Remove underline */
}


@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

footer{
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  background: #111;
}
footer .content{
  max-width: 1350px;
  margin: auto;
  padding: 15px;
  padding-bottom: 80px;
  padding-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
footer .content p,a{
  color: #fff;
  font-size: 20px;
  background-color: none;
}

footer .content .box{
  width: 33%;
  transition: all 0.4s ease;
}
footer .content .topic{
  font-size: 30px;
  font-weight: 600;
  color: #fff;
  margin-bottom: 16px;
}
footer .content p{
  text-align: justify;
}
footer .content .lower .topic{
  margin: 24px 0 5px 0;
}
footer .content .lower i{
  padding-right: 16px;
}
footer .content .middle{
  padding-left: 80px;
}
footer .content .middle a{
  line-height: 32px;
  font-size: 40px;
}


footer .bottom{
  width: 100%;
  text-align: right;
  padding: 0 40px 5px 0;
}

footer a{
  transition: all 0.3s ease;
}

@media (max-width:1100px) {
  footer .content .middle{
    padding-left: 50px;
  }
}
@media (max-width:950px){
  footer .content .box{
    width: 50%;
  }
  .content .right{
    margin-top: 40px;
  }
}
@media (max-width:560px){
  footer{
    position: relative;
  }
  footer .content .box{
    width: 100%;
    margin-top: 30px;
  }
  footer .content .middle{
    padding-left: 0;
  }
}